<template>
  <CContainer class="d-flex content-center min-vh-100">
    <CRow>
      <CCol>
        <CCardGroup>
          <CCard class="p-4">
            <CCardBody>
              <CForm @submit.prevent="login" method="POST">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <CInput
                  v-model="email"
                  prependHtml="<i class='cui-user'></i>"
                  placeholder="Username"
                  autocomplete="username email"
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  v-model="password"
                  prependHtml="<i class='cui-lock-locked'></i>"
                  placeholder="Password"
                  type="password"
                  autocomplete="curent-password"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CRow>
                  <CCol col="6">
                    <CButton type="submit" color="primary" class="px-4" :disabled="submiting">
                      <i class="fas fa-spinner fa-spin" v-if="submiting"></i>Login
                    </CButton>
                  </CCol>
                  <CCol col="6" class="text-right">
                    <CButton color="link" class="px-0">Forgot password?</CButton>
                  </CCol>
                </CRow>
              </CForm>
            </CCardBody>
          </CCard>
          <CCard
            color="primary"
            text-color="white"
            class="text-center py-5 d-md-down-none"
            body-wrapper
          >
            <h2>Sign up</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <CButton
              color="primary"
              class="active mt-3"
              @click="goRegister()"
            >
              Register Now!
            </CButton>
          </CCard>
        </CCardGroup>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>

import axios from "axios";
import '@fortawesome/fontawesome-free/css/all.min.css';
    
    export default {
      name: 'Login',
      data() {
        return {
          email: '',
          password: '',
          showMessage: true,
          message: '',
          activeColor: '#23A4D5',
          fullPage: true,
          oppacity:0.0,
          loader: 'spinner',
          dismissSecs: 10,
          dismissSecs1: 30,
          dismissCountDown: 0,
          dismissCountDown1: 0,
          showDismissibleAlert: false,
          submiting:false

        }
      },
      components: {
        //  Loading,
      },
      methods: {
        countDownChanged (dismissCountDown) {
          this.dismissCountDown = dismissCountDown
        },
        showAlert () {
          this.dismissCountDown = this.dismissSecs
        },
        showAlertNotUserLogin () {
          this.dismissCountDown1 = this.dismissSecs1
        },
        goRegister(){
          this.$router.push({ path: 'register' });
        },
        login() {
          this.submiting =true
          let self = this;
          axios.post(  this.$apiAdress + '/api/login', {
            email: self.email,
            password: self.password,
          }).then(function (response) {
            self.email = '';
            self.password = '';
            localStorage.setItem("api_token", response.data.access_token);
            localStorage.setItem('roles', response.data.roles);
            localStorage.removeItem('mensagem');
            self.$router.push({ path: '/dashboard' });
            self.$toasted.global.login(`Bem Vindo...`)
          })
          .catch(error => {
            this.submiting = false
            self.showAlert()
            self.$toasted.global.error(error);
          });
        }
      },
    mounted () {
      var checkin =  localStorage.getItem('mensagem');
      if(checkin == true){
        this.showAlertNotUserLogin();
      }    
      (localStorage.getItem('api_token'))? localStorage.clear() : null;
    }
    }


</script>
