<template>
  <div class="d-flex align-items-center min-vh-100">
    <CContainer fluid center>
      <CRow class="justify-content-center">
        <CCol md="12">
          <CCard class="mx-4 mb-0">
          <CCardHeader>
            <strong><CIcon name="logo" height="50" alt="Logo"/>
                </strong><small>Novo Cadastro de usuário</small>
          </CCardHeader>
            <CCardBody class="p-4">
              <CForm autocomplete="off" @submit.prevent="register" method="POST" >
                <b><p class="text-muted">Dados Pessoais</p></b>
                <CInput
                  placeholder="Full Name"
                  prependHtml="<i class='cui-user'></i>"
                  autocomplete="fullname"
                  v-model="user.name"
                  :class="{'is-invalid': errors.name}" 
                  required
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  placeholder="username"
                  prependHtml="<i class='cui-user'></i>"
                  autocomplete="username"
                  v-model="user.username"
                  :class="{'is-invalid': errors.username}" 
                  required
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  placeholder="Email"
                  prepend="@"
                  autocomplete="email"
                  v-model="user.email"
                  :class="{'is-invalid': errors.email}"
                  required
                />
                

                <b><p class="text-muted">Senha de Acesso</p></b>
                           <CAlert
                              color="warning"
                            >
                            <p>Para Sua segurança sua senha deve conter no minímo 8 caracteres, dos quais:</p>
                              <p>- Ao menos 1 letra minúscula (a...z)</p>
                              <p>- Ao menos 1 letra maiúscula (A...Z)</p>
                              <p>- Ao menos um número (0...9)</p>
                              <p>- Ao menos um caractere especial (!@#$%*()...)</p>
                            </CAlert>
                          <CAlert
                              color="danger"
                              closeButton
                              :show.sync="alertMatchPassword"
                            >
                              A confirmação de senha não confere com a senha digitada !
                            </CAlert>
                <CInput
                  placeholder="Senha"
                  type="password"
                  prependHtml="<i class='cui-lock-locked'></i>"
                  autocomplete="new-password"
                  v-model="user.password"
                  :class="{'is-invalid': errors.password}"
                  required
                  @keyup="MatchPassword()"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <div class="invalid-feedback" v-if="errors.password">{{errors.password[0]}}</div>
                <CInput
                  placeholder="Confirmar a senha"
                  type="password"
                  prependHtml="<i class='cui-lock-locked'></i>"
                  autocomplete="new-password"
                  class="mb-4"
                  required
                  v-model="user.password_confirmation"
                  :class="{'is-invalid': errors.password}"
                  @keyup="MatchPassword()"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CButton type="submit" color="success" block :disabled="submiting"><i class="fas fa-spinner fa-spin" v-if="submiting"></i>Cadastrar</CButton>
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

  <script>
    import axios from 'axios'
    import {mask} from 'vue-the-mask'
    import '@fortawesome/fontawesome-free/css/all.min.css';

    export default {
      data() {
        return {
          errors: {},
          user:{},
          alertMatchPassword: false,
          submiting:false,
          cidade:''
        }
      },
      mount(){
        this.user.name = '';
        this.user.email = '';
        this.user.username = '';
        this.user.status = '';                   
        this.user.password = '';
        this.user.password_confirmation = '';
      },
      directives: {mask},
      methods: {
        register() {
          let self = this;
          self.submiting = true;
          axios.post(  this.$apiAdress + '/api/register', self.user)
          .then(response => {
            if(!response.data.errors){
              localStorage.removeItem('mensagem');
              self.$toasted.global.success("Usuário cadastrado com sucesso!");
              self.$router.push({ path: '/login' });
              // setTimeout(function(){window.close();}, 2000);
            }
          })
          .catch(error => {
            self.submiting = false;
            self.errors = error.response.data.errors
            for (const key in  error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty(key)) {
                    const element = error.response.data.errors[key];
                    element.forEach(el => {
                        self.$toasted.global.error(el);
                    });
                }
            }
          });
        },
        MatchPassword(){
          let self =this;
          if(self.user.password == self.user.password_confirmation){
            ['alertMatchPassword'].forEach(alert => this[alert] = false)
          }else{
            ['alertMatchPassword'].forEach(alert => this[alert] = true)
            return false;
          } 
        }
      }
    }
  
  </script>
