<template>
  <CRow>
        <loading :active.sync="this.isLoading" :can-cancel="false" :is-full-page="this.fullPage"></loading>
    <CCol col="12" >
      <CCard no-header>
      <CCardHeader>
          <h3>
            Cadastrar Usuário
          </h3>
      </CCardHeader>
        <CCardBody>
      <CForm autocomplete="off" @submit.prevent="register" method="POST" >          
          <b><p class="text-muted">Dados Pessoais</p></b>
                <CInput
                  placeholder="Full Name"
                  prependHtml="<i class='cui-user'></i>"
                  autocomplete="fullname"
                  v-model="user.name"
                  :class="{'is-invalid': errors.name}" 
                  required
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  placeholder="username"
                  prependHtml="<i class='cui-user'></i>"
                  autocomplete="username"
                  v-model="user.username"
                  :class="{'is-invalid': errors.username}" 
                  required
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  placeholder="Email"
                  prepend="@"
                  autocomplete="email"
                  v-model="user.email"
                  :class="{'is-invalid': errors.email}"
                  required
                />
                

                <b><p class="text-muted">Senha de Acesso</p></b>
                           <CAlert
                              color="warning"
                            >
                            <p>Para Sua segurança sua senha deve conter no minímo 8 caracteres, dos quais:</p>
                              <p>- Ao menos 1 letra minúscula (a...z)</p>
                              <p>- Ao menos 1 letra maiúscula (A...Z)</p>
                              <p>- Ao menos um número (0...9)</p>
                              <p>- Ao menos um caractere especial (!@#$%*()...)</p>
                            </CAlert>
                          <CAlert
                              color="danger"
                              closeButton
                              :show.sync="alertMatchPassword"
                            >
                              A confirmação de senha não confere com a senha digitada !
                            </CAlert>
                <CInput
                  placeholder="Senha"
                  type="password"
                  prependHtml="<i class='cui-lock-locked'></i>"
                  autocomplete="new-password"
                  v-model="user.password"
                  :class="{'is-invalid': errors.password}"
                  required
                  @keyup="MatchPassword()"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <div class="invalid-feedback" v-if="errors.password">{{errors.password[0]}}</div>
                <CInput
                  placeholder="Confirmar a senha"
                  type="password"
                  prependHtml="<i class='cui-lock-locked'></i>"
                  autocomplete="new-password"
                  class="mb-4"
                  required
                  v-model="user.password_confirmation"
                  :class="{'is-invalid': errors.password}"
                  @keyup="MatchPassword()"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
        <CRow>
          <CCol col="2">
            <CButton type="submit" color="success" block :disabled="submiting"><i class="fas fa-spinner fa-spin" v-if="submiting"></i>Cadastrar</CButton>
          </CCol>
          <CCol>
          <CButton color="danger" @click="goBack">Voltar</CButton>
          </CCol>
        </CRow>
            </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import axios from 'axios'
import {mask} from 'vue-the-mask'
import Loading from 'vue-loading-overlay';
import '@fortawesome/fontawesome-free/css/all.min.css';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
      data() {
        return {
          errors: {},
          user:{},
          alertMatchPassword: false,
          submiting:false,
          isLoading: false,
          fullPage: true,
          loader: 'spinner',
        }
      }, 
    components: {
        Loading,
      },
      mount(){
        this.user.name = '';
        this.user.email = '';
        this.user.username = '';
        this.user.status = '';                   
        this.user.password = '';
        this.user.password_confirmation = '';
      },
  directives: {mask},
  methods: {
    goBack() {
      this.$router.go(-1)      
    },
    register() {
          let self = this;
          self.submiting = true;
          self.isLoading = true;
          axios.post(  this.$apiAdress + '/api/register', self.user)
          .then(response => {
            if(!response.data.errors){
              self.$toasted.global.success("Usuário cadastrado com sucesso!");
              self.isLoading = false; 
              self.$router.push({ path: '/users' });
            }
          })
          .catch(error => {
            self.submiting = false;
            self.isLoading = false; 
            self.errors = error.response.data.errors
            for (const key in  error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty(key)) {
                    const element = error.response.data.errors[key];
                    element.forEach(el => {
                        self.$toasted.global.error(el);
                    });
                }
            }
          });
        },
     MatchPassword(){
          let self =this;
          if(self.user.password == self.user.password_confirmation){
            ['alertMatchPassword'].forEach(alert => this[alert] = false)
          }else{
            ['alertMatchPassword'].forEach(alert => this[alert] = true)
            return false;
          } 
        },
        searchCep () {
          let self = this; 
          if(self.user.cep.length == 9) {
            axios.get(`https://viacep.com.br/ws/${ self.user.cep }/json/`)
            .then( response => {
              self.user.endereco  = response.data.logradouro, 
              self.user.cidade = response.data.localidade,
              self.user.selectState = response.data.uf,
              self.user.bairro = response.data.bairro
            })
            .catch(error=>{
              self.user.endereco = '', 
              self.user.cidade = '',
              self.user.selectState = '',
              self.user.bairro = ''
            })
          }
        }
  }
  
}

</script>
