<template>
  <CRow>
    <loading :active.sync="this.isLoading" :can-cancel="false" :is-full-page="this.fullPage"></loading>
    <CCol col="12">
      <CCard no-header>
      <CCardHeader>
          <h3>
            Alterar Usuário
          </h3>
      </CCardHeader>
        <CCardBody>
          <CForm autocomplete="off" @submit.prevent="update">
            <template slot="header">
              Edit User id:  {{ $route.params.id }}
            </template>
            <CAlert
              :show.sync="dismissCountDown"
              color="primary"
              fade
            >
              ({{dismissCountDown}}) {{ message }}
            </CAlert>
            <b><p class="text-muted">Dados Pessoais</p></b>
                <CInput
                  placeholder="Full Name"
                  prependHtml="<i class='cui-user'></i>"
                  autocomplete="fullname"
                  v-model="user.name"
                  :class="{'is-invalid': errors.name}" 
                  required
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  placeholder="username"
                  prependHtml="<i class='cui-user'></i>"
                  autocomplete="username"
                  v-model="user.username"
                  :class="{'is-invalid': errors.username}" 
                  required
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  placeholder="Email"
                  prepend="@"
                  autocomplete="email"
                  v-model="user.email"
                  :class="{'is-invalid': errors.email}"
                  required
                />
                <b><p class="text-muted">Permissões</p></b>
                <div class="col-sm-9 form-inline form-group">
                  <div role="group" class="custom-control custom-control-inline custom-radio">
                    <input type="radio" value="admin" v-model="CheckinUser" name="checkedUser" :class="{'is-invalid': errors.CheckinUser}">Administrador
                    </div>
                    <div role="group" class="custom-control custom-control-inline custom-radio">
                    <input type="radio"  value="user" v-model="CheckinUser" name="checkedUser" :class="{'is-invalid': errors.CheckinUser}">Usuário
                    </div>
                  </div>
                <b><p class="text-muted">Dados do Endereço</p></b>
                

                <b><p class="text-muted">Senha de Acesso</p></b>
                           <CAlert
                              color="warning"
                            >
                            <p>Para Sua segurança sua senha deve conter no minímo 8 caracteres, dos quais:</p>
                              <p>- Ao menos 1 letra minúscula (a...z)</p>
                              <p>- Ao menos 1 letra maiúscula (A...Z)</p>
                              <p>- Ao menos um número (0...9)</p>
                              <p>- Ao menos um caractere especial (!@#$%*()...)</p>
                            </CAlert>
                          <CAlert
                              color="danger"
                              closeButton
                              :show.sync="alertMatchPassword"
                            >
                              A confirmação de senha não confere com a senha digitada !
                            </CAlert>
                <CInput
                  placeholder="Senha"
                  type="password"
                  prependHtml="<i class='cui-lock-locked'></i>"
                  autocomplete="new-password"
                  v-model="user.password"
                  :class="{'is-invalid': errors.password}"
                  required
                  @keyup="MatchPassword()"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <div class="invalid-feedback" v-if="errors.password">{{errors.password[0]}}</div>
                <CInput
                  placeholder="Confirmar a senha"
                  type="password"
                  prependHtml="<i class='cui-lock-locked'></i>"
                  autocomplete="new-password"
                  class="mb-4"
                  required
                  v-model="user.password_confirmation"
                  :class="{'is-invalid': errors.password}"
                  @keyup="MatchPassword()"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                
        <CRow>
          <CCol col="2">
          <CButton color="primary" type="submit"><i class="fas fa-spinner fa-spin" v-if="submiting"></i>Alterar</CButton>
          </CCol>
          <CCol>
          <CButton color="danger" @click="goBack">Voltar</CButton>
          </CCol>
        </CRow>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>


<script>


import axios from 'axios'
import {mask} from 'vue-the-mask'
import '@fortawesome/fontawesome-free/css/all.min.css';
// Import component
  import Loading from 'vue-loading-overlay';
// Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css';
export default {
  name: 'EditUser',
  props: {
    caption: {
      type: String,
      default: 'User id'
    },
  },
  data: () => {
    return {
        errors: {},
        user: {},
        submiting: false,
        showMessage: false,
        message: '',
        dismissSecs: 7,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        alertMatchPassword: false,
        CheckinUser: '',
        disabled: 0,
        isLoading: false,
        fullPage: true,
        loader: 'spinner' ,
        password:'',
        password_confirmation:''

    }
  },
 components: {
    Loading,
  },
  directives: {mask},
  methods: {
    MatchPassword(){
          let self =this;
          if(self.password == self.password_confirmation){
            ['alertMatchPassword'].forEach(alert => this[alert] = false)
          }else{
            ['alertMatchPassword'].forEach(alert => this[alert] = true)
            return false;
          } 
        },
    
    goBack() {
      this.$router.go(-1)
      // this.$router.replace({path: '/users'})
    },
    update() {
        let self = this;
        self.submiting = true;
        axios.post(  this.$apiAdress + '/api/users/' + self.$route.params.id + '?token=' + localStorage.getItem("api_token"),
        {
            _method: 'PUT',
            name: self.name,            
            username: self.username,            
            email: self.email,
            //status: self.status,
            roles: self.CheckinUser,
            password: self.password
        })
        .then(function (response) {
            self.$toasted.global.success("Usuário alterado com sucesso!");
            self.message = 'Usuário alterado com sucesso.';
            self.showAlert();
            self.$router.push({ path: '/users' });
        }).catch(error => {
            self.submiting = false;
            //self.errors = error.response.data.errors
            for (const key in  error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty(key)) {
                    const element = error.response.data.errors[key];
                    element.forEach(el => {
                        self.$toasted.global.error(el);
                    });
                }
            }
          });
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
  },
  mounted: function(){
    let self = this;
    self.isLoading = true;
    axios.get(  this.$apiAdress + '/api/users/' + self.$route.params.id + '/edit?token=' + localStorage.getItem("api_token"))
    .then(function (response) {
        self.user = response.data;
        //self.status = response.data.status;
        self.CheckinUser = response.data.roles;
        self.isLoading = false;
    }).catch(function (error) {
        self.isLoading = false;
        self.$router.push({ path: '/login' });
    });
  }
  }


</script>
