<template>
  <div>
    <loading :active.sync="this.isLoading" :can-cancel="false" :is-full-page="this.fullPage"></loading>
    <CCard>
      <CCardBody>
          <CRow>
        <CCol md="12" xs="12" xl="12">
                <CCarousel 
                  arrows
                  indicators:false
                  :animate = true
                  :interval = 10000
                >
                  <CLink href="https://picsum.photos/1024/480/?image=52" target="_blank">
                    <CCarouselItem image="https://picsum.photos/1024/480/?image=52"/>
                  </CLink> 
                  
                  
                </CCarousel>
          </CCol>
        </CRow>
      </CCardBody>
    </CCard>
    <CRow>
      <CCol v-bind:key="i"  v-for="(item,i) in artistas" md="3" sm="6" :v-if="artistas.length>0">
        <CWidgetIcon
              :header="`${item.name}`"
              :text="`Ano: ${item.year}`"
              color="info"
              :icon-padding="false"
            >
              <CImg :src="`https://picsum.photos/100/100/?image=${item.id}`" />
            </CWidgetIcon>
      </CCol>
      <CCol md="12" sm="6" else>
        <strong>Nenhum Disco Encontrado</strong>
      </CCol>
      
    </CRow>
  </div>
</template>

<script>

import axios from 'axios'

import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import '@fortawesome/fontawesome-free/css/all.min.css';

export default {
  name: 'Artists',
  
  data () {
    return {
      artistas:[],
      activeColor: '#23A4D5',
      isLoading: false,
      fullPage: true,
      loader: 'spinner',
      filtro:'',
      submiting:false
    }
  },
  components: {
    Loading,
  },
  methods: {
    MountedPagewihtId(id){
      let self = this;
      self.isLoading = true;
      var id  = (id) ? `/${id}` : '';
      axios.get( this.$apiAdress + '/api/artist'+id+'?token=' + localStorage.getItem("api_token") ) 
      .then(function (response) {
        console.log(response.data)
        self.artistas = response.data;
        self.isLoading = false;
      }).catch(function (error) {
        self.isLoading = false;
        self.$router.push({ path: '/login' });
      });
    },
    color (value) {
      let $color
      if (value <= 25) {
        $color = 'info'
      } else if (value > 25 && value <= 50) {
        $color = 'success'
      } else if (value > 50 && value <= 75) {
        $color = 'warning'
      } else if (value > 75 && value <= 100) {
        $color = 'danger'
      }
      return $color
    },
  },
  beforeRouteUpdate (to, from, next) {
    var id = to.params.id;
    this.MountedPagewihtId(id)
    next();
  },
  mounted (id) {
    var id = this.$route.params.id;
    this.MountedPagewihtId(id);
  }
}
</script>
