<template>
  <div>
    <loading :active.sync="this.isLoading" :can-cancel="false" :is-full-page="this.fullPage"></loading>
    <CRow>

      <CCol v-bind:key="i"  v-for="(item,i) in artistas" md="3" sm="6">
        <CCard accent-color="secondary">
          <CCardHeader>{{item[0].name}}</CCardHeader>
          <CCardBody>
            <CWidgetBrand
              color="twitter"
              right-header="973k"
              right-footer="followers"
              left-header="1.792"
              left-footer="tweets"
            >
              <CLink  :href="`https://twitter.com/${item[0].twitter}`" target="_blank" style='color:#3c4b64'>
                <CIcon
                  name="cib-twitter"
                  height="56"
                  class="my-4"
                />
              </CLink>
            </CWidgetBrand>
          </CCardBody>
          <CCardFooter class="card-footer px-3 py-2">
            <CLink class="font-weight-bold font-xs btn-block text-muted" 
            :href="`#/artist/${item[0].id}`">
              View more
              <CIcon name="cil-arrowRight" class="float-right" width="16"/>
            </CLink>
          </CCardFooter>
        </CCard>
      </CCol>
      
    </CRow>
  </div>
</template>

<script>

import axios from 'axios'

import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import '@fortawesome/fontawesome-free/css/all.min.css';

export default {
  name: 'Artists',
  
  data () {
    return {
      artistas:[],
      activeColor: '#23A4D5',
      isLoading: false,
      fullPage: true,
      loader: 'spinner',
      filtro:'',
      submiting:false
    }
  },
  components: {
    Loading,
  },
  methods: {
    MountedPagewihtId(id){
      let self = this;
      self.isLoading = true;
      var id  = (id) ? `/${id}` : '';
      axios.get( this.$apiAdress + '/api/artist'+id +'?token=' + localStorage.getItem("api_token")) 
      .then(function (response) {
        console.log(response.data)
        self.artistas = response.data;
        self.isLoading = false;
      }).catch(function (error) {
        self.isLoading = false;
        self.$router.push({ path: '/login' });
      });
    },
    color (value) {
      let $color
      if (value <= 25) {
        $color = 'info'
      } else if (value > 25 && value <= 50) {
        $color = 'success'
      } else if (value > 50 && value <= 75) {
        $color = 'warning'
      } else if (value > 75 && value <= 100) {
        $color = 'danger'
      }
      return $color
    },
  },
  beforeRouteUpdate (to, from, next) {
    var id = to.params.id;
    this.MountedPagewihtId(id)
    next();
  },
  mounted (id) {
    var id = this.$route.params.id;
    this.MountedPagewihtId(id);
  }
}
</script>
