<template>
  <CRow>
      <loading :active.sync="this.isLoading" :can-cancel="false" :is-full-page="this.fullPage"></loading>
    <CCol col="12" ><!--lg="8"-->
      <transition name="slide">
      <CCard>
        <CCardHeader>
            <h4>Albuns</h4>
        </CCardHeader>
        <CCardBody>
          <CAlert
            :show.sync="dismissCountDown"
            color="primary"
            fade
          >
            ({{dismissCountDown}}) {{ message }}
          </CAlert>
          <CButton color="primary"  @click="addAlbum()" class="mb-3">Cadastrar</CButton>
              <CForm @submit.prevent="searchAlbuns" method="POST">
                  <CInput
                    v-model="filtro"
                    placeholder="Pesquise por um album"
                    type="text"
                    style='text-align:center;height="45px"'
                    :autocomplete=false
                  >
                    <template #append>
                      <button type="submit" class="btn btn-sm btn-primary px4" >
                            <i class="fas fa-search"></i>
                      </button>
                    </template>
                    
                  </CInput>
                </CForm>
          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            :items-per-page="5"
            pagination
          >
          <template #status="{item}">
            <td>
              <CBadge :color="getBadge(item.status)">{{ item.status }}</CBadge>
            </td>
          </template>
          <template #edit="{item}">
            <td>
              <CButton color="primary" @click="editAlbum( item.id )">Editar</CButton>
            </td>
          </template>
          <template #delete="{item}">
            <td>
              <CButton v-if="you=item.id" color="danger" @click="deleteAlbum( item.id )">Deletar</CButton>
            </td>
          </template>
        </CDataTable>
        </CCardBody>
      </CCard>
      </transition>
    </CCol>
  </CRow>
</template>

<script>
  import axios from 'axios'
  import Loading from 'vue-loading-overlay';
// Import stylesheet
import '@fortawesome/fontawesome-free/css/all.min.css';
  import 'vue-loading-overlay/dist/vue-loading.css';
export default {
  name: 'Users',
  data: () => {
    return {
      items: [],
      fields: [ 'name','year','artist_id', 'edit', 'delete'],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      you: null,
      message: '',
      isLoading: false,
      fullPage: true,
      loader: 'spinner',
      showMessage: false,
      dismissSecs: 7,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      filtro:''
    }
  },  
components: {
    Loading,
  },
  paginationProps: {
    align: 'center',
    doubleArrows: false,
    previousButtonHtml: 'prev',
    nextButtonHtml: 'next'
  },
  methods: {
    searchAlbuns(){
      let self = this;
      self.isLoading = true;
      axios.post( this.$apiAdress + '/api/albuns/filter' + '?token=' + localStorage.getItem("api_token"), {'search':self.filtro} ) 
      .then(function (response) {
        self.items = response.data.albuns;  
        self.isLoading = false;
      }).catch(function (error) {
        self.isLoading = false;
        self.$router.push({ path: '/login' });
      });
    },
    addAlbum(){
      this.$router.push({path: 'albuns/create'});
    },
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    albumLink (id) {
      return `albuns/${id.toString()}`
    },
    editLink (id) {
      return `albuns/${id.toString()}/edit`
    },
    showUser ( id ) {
      const albumLink = this.albumLink( id );
      this.$router.push({path: albumLink});
    },
    editAlbum ( id ) {
      const editLink = this.editLink( id );
      this.$router.push({path: editLink});
    },
    deleteAlbum ( id ) {
      let self = this;
      let albumId = id;
      self.isLoading = true;
      axios.post(  this.$apiAdress + '/api/albuns/' + id + '?token=' + localStorage.getItem("api_token"), {
        _method: 'DELETE'
        
      })
      .then(function (response) {
          self.message = 'Album removido!';
          self.isLoading = false;
          self.showAlert();
          self.getAlbuns();
      }).catch(function (error) {
        self.isLoading = false;
        self.$router.push({ path: '/login' });
      });
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    getAlbuns (){
      let self = this;
      self.isLoading = true;
      axios.get(  this.$apiAdress + '/api/albuns?token=' + localStorage.getItem("api_token"))
      .then(function (response) {
        self.items = response.data;
        self.you = response.data.you;
        self.isLoading = false;
      }).catch(function (error) {
        self.isLoading = false;
      });
    }
  },
  mounted: function(){
    this.getAlbuns();
  }
}
</script>
