<template>
  <CRow>
        <loading :active.sync="this.isLoading" :can-cancel="false" :is-full-page="this.fullPage"></loading>
    <CCol col="12" >
      <CCard no-header>
        <CCardHeader>
            <h3>
              Cadastrar Album
            </h3>
        </CCardHeader>
        <CCardBody>
            <CForm inline autocomplete="off" @submit.prevent="createAlbum" method="POST" >          
              <CInput class="mr-3" placeholder="Album Name" prepend="Album" v-model="album.name"
                    :class="{'is-invalid': errors.name}">
              </CInput>
              <CInput class="mr-3" placeholder="2016" prepend="Ano" v-model="album.year" :class="{'is-invalid': errors.name}">
              </CInput>
              <CSelect class="mr-3"  prepend="Artist"
                horizontal
                :value.sync="album.artist_id"
                :options="options"
                placeholder="       Please select          "
              />
            </CForm>
        </CCardBody>
        <CCardFooter>
          <CButton size="sm" @click="createAlbum()" color="success"  :disabled="submiting"><i class="fas fa-spinner fa-spin" v-if="submiting"></i>Cadastrar</CButton>
          <CButton size="sm" color="danger" @click="goBack">Voltar</CButton>
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import axios from 'axios'
import {mask} from 'vue-the-mask'
import Loading from 'vue-loading-overlay';
import '@fortawesome/fontawesome-free/css/all.min.css';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
      data() {
        return {
          errors: {},
          album:{},
          options:[],
          alertMatchPassword: false,
          submiting:false,
          isLoading: false,
          fullPage: true,
          loader: 'spinner',
        }
      }, 
    components: {
        Loading,
      },
      mount(){
        this.album.name = '';
        this.album.year = '';
        this.album.artist_id = '';
      },
  directives: {mask},
  methods: {
    goBack() {
      this.$router.go(-1)      
    },
    createAlbum() {
          let self = this;
          self.submiting = true;
          self.isLoading = true;
          axios.post(  this.$apiAdress + '/api/albuns?token=' + localStorage.getItem("api_token"), self.album)
          .then(response => {
            if(!response.data.errors){
              self.$toasted.global.success("Album cadastrado com sucesso!");
              self.isLoading = false; 
              self.$router.push({ path: '/albuns' });
            }
          })
          .catch(error => {
            self.submiting = false;
            self.isLoading = false; 
            self.errors = error.response.data.errors
            for (const key in  error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty(key)) {
                    const element = error.response.data.errors[key];
                    element.forEach(el => {
                        self.$toasted.global.error(el);
                    });
                }
            }
            self.$router.push({ path: '/albuns' });
          });
        },
        getArtists() {
          let self = this; 
          self.isLoading = true;
            axios.get(this.$apiAdress + '/api/artist')
            .then( response => {
              response.data.forEach(element => {
                self.options.push({value: element[0].id, label: element[0].name})
              });
              self.isLoading = false;
            })
            .catch(error=>{
              self.isLoading = false;
            })
        }
  },
  mounted: function(){
    this.getArtists();
  }
  
}

</script>
