<template>
  <CRow>
        <loading :active.sync="this.isLoading" :can-cancel="false" :is-full-page="this.fullPage"></loading>
    <CCol col="12" >
      <CCard no-header>
        <CCardHeader>
            <h3>
               Edit Album id:  {{ $route.params.id }}
            </h3>
        </CCardHeader>
        <CCardBody>
            <CForm inline autocomplete="off" @submit.prevent="createAlbum" method="POST" >          
              <CInput class="mr-3" placeholder="Album Name" prepend="Album" v-model="album.name"
                    :class="{'is-invalid': errors.name}">
              </CInput>
              <CInput class="mr-3" placeholder="2016" prepend="Ano" v-model="album.year" :class="{'is-invalid': errors.name}">
              </CInput>
              <CSelect class="mr-3"  prepend="Artist"
                horizontal
                :value.sync="album.artist_id"
                :options="options"
                placeholder="       Please select          "
              />
            </CForm>
        </CCardBody>
        <CCardFooter>
          <CButton size="sm" class="mr-3" @click="update()" color="success"  :disabled="submiting"><i class="fas fa-spinner fa-spin" v-if="submiting"></i>Atualizar</CButton>
          <CButton size="sm" color="danger" @click="goBack">Voltar</CButton>
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
</template>


<script>


import axios from 'axios'
import {mask} from 'vue-the-mask'
import '@fortawesome/fontawesome-free/css/all.min.css';
// Import component
  import Loading from 'vue-loading-overlay';
// Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css';
export default {
  name: 'EditAlbum',
  props: {
    caption: {
      type: String,
      default: 'Album :id'
    },
  },
  data: () => {
    return {
        errors: {},
        album:{},
        options:[],
        alertMatchPassword: false,
        submiting:false,
        isLoading: false,
        fullPage: true,
        loader: 'spinner',
    }
  },
 components: {
    Loading,
  },
  directives: {mask},
  methods: {
    getArtists() {
      let self = this; 
      self.isLoading = true;
        axios.get(this.$apiAdress + '/api/artist')
        .then( response => {
          response.data.forEach(element => {
            self.options.push({value: element[0].id, label: element[0].name})
          });
          self.isLoading = false;
        })
        .catch(error=>{
          self.isLoading = false;
        })
    },
    goBack() {
      this.$router.go(-1)
    },
    update() {
        let self = this;
        self.submiting = true;
        self.isLoading = true;
        axios.put(  this.$apiAdress + '/api/albuns/' + self.$route.params.id + '?token=' + localStorage.getItem("api_token"),self.album)
        .then(function (response) {
            self.$toasted.global.success("Album alterado com sucesso!");
            self.message = 'Album alterado com sucesso.';
            self.showAlert();
            self.isLoading = false;
            self.$router.push({ path: '/albuns' });
        }).catch(error => {
            self.submiting = false;
            self.isLoading = false;
            for (const key in  error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty(key)) {
                    const element = error.response.data.errors[key];
                    element.forEach(el => {
                        self.$toasted.global.error(el);
                    });
                }
            }
          });
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
  },
  mounted: function(){
    this.getArtists();
    let self = this;
    self.isLoading = true;
    axios.get(  this.$apiAdress + '/api/albuns/' + self.$route.params.id + '?token=' + localStorage.getItem("api_token"))
    .then(function (response) {
        self.album = response.data;
        self.isLoading = false;
    }).catch(function (error) {
        self.isLoading = false;
        self.$router.push({ path: '/login' });
    });
  }
  }


</script>
